<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/style/customers.css}" />
    <title>Customers</title>
  </head>
  <body>
    <div class="container my-5">
      <div class="header text-center mb-5">
        <h1>Classic Models Sales</h1>
        <h3>Customers</h3>
      </div>
      <div class="mb-4 justify-content-center">
        <form th:action="@{/classicmodelssales/customers/search}" method="get">
          <div class="row">
            <div class="col-md-2">
              <input
                type="text"
                name="firstName"
                class="form-control"
                placeholder="Search by First Name"
              />
            </div>
            <div class="col-md-2">
              <input
                type="text"
                name="lastName"
                class="form-control"
                placeholder="Search by Last Name"
              />
            </div>
            <div class="col-md-2">
              <input
                type="text"
                name="companyName"
                class="form-control"
                placeholder="Search by Company Name"
              />
            </div>
            <div class="col-md-2">
              <input
                type="text"
                name="city"
                class="form-control"
                placeholder="Search by City"
              />
            </div>
            <div class="col-md-2">
              <input
                type="text"
                name="country"
                class="form-control"
                placeholder="Search by Country"
              />
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>
      </div>
      <hr />
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th>Company Name</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Phone</th>
              <th>Address Line</th>
              <th>City</th>
              <th>State</th>
              <th>Postal Code</th>
              <th>Country</th>
              <th>Credit Limit</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="tempCustomer : ${customers}">
              <td th:text="${tempCustomer.customerName}" />
              <td th:text="${tempCustomer.contactLastName}" />
              <td th:text="${tempCustomer.contactFirstName}" />
              <td th:text="${tempCustomer.phone}" />
              <td th:text="${tempCustomer.addressLineOne}" />
              <td th:text="${tempCustomer.city}" />
              <td th:text="${tempCustomer.state}" />
              <td th:text="${tempCustomer.postalCode}" />
              <td th:text="${tempCustomer.country}" />
              <td th:text="${tempCustomer.creditLimit}" />
              <td>
                <a
                  th:href="@{/classicmodelssales/customer/{id}(id=${tempCustomer.customerNumber})}"
                  class="btn btn-details"
                  >Details</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
